
<p-table #dt1 [columns]="cols" [value]="logs" dataKey="id"
[rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"  styleClass="p-datatable-gridlines"
[paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
[globalFilterFields]="['trx','hash','payload','statusTrx']">
<ng-template pTemplate="header" let-columns>
  <tr>

      <th pSortableColumn="trx">TRXs <p-sortIcon field="trx"></p-sortIcon></th>
      <th pSortableColumn="hash">Hash <p-sortIcon field="hash"></p-sortIcon></th>
      <th pSortableColumn="payload">Payload <p-sortIcon field="payload"></p-sortIcon></th>
      <th pSortableColumn="statusTrx">Status <p-sortIcon field="statusTrx"></p-sortIcon></th>
      <th pSortableColumn="eventTime">Event Time <p-sortIcon field="eventTime"></p-sortIcon></th>

  </tr>
  <tr>
      <th *ngFor="let col of columns">
          <p-columnFilter type="text" [field]="col.field" [matchModeOptions]="matchModeOptions" [matchMode]="'custom-equals'"></p-columnFilter>
      </th>
  </tr>
</ng-template>
  <ng-template pTemplate="body" let-car let-columns="columns">
      <tr>
          <td *ngFor="let col of columns">
                  {{car[col.field]}}
          </td>
      </tr>
  </ng-template>
</p-table>


